<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http use-expressions="true">
		<intercept-url pattern="/login.page" access="permitAll" />
		<intercept-url pattern="/*.page" access="isAuthenticated()" />
		<intercept-url pattern="/*.json" access="isAuthenticated()" />

		<form-login login-page="/login.page" />
		<logout logout-url="/logout" logout-success-url="/login.page" invalidate-session="true" />
	</http>

	<authentication-manager alias="authenticationManager">

		<authentication-provider user-service-ref='ApplicationAuthenticationProvider'>
			<password-encoder hash="sha-256" />
		</authentication-provider>

	</authentication-manager>

	<beans:bean id="ApplicationAuthenticationProvider" class="com.atp.solicitudes.authentication.ApplicationAuthenticationProvider">
		<beans:property name="dataSource" ref="dataSource_sol" />
		<beans:property name="authorityListResolver" ref="AuthorityListResolver" />
	</beans:bean>

	<beans:bean id="AuthorityListResolver" class="com.atp.solicitudes.authentication.AuthorityListResolverByUserRole">
	</beans:bean>

</beans:beans>